<!DOCTYPE html>
<html>
  <head>
    <%- include partials/head.ejs %>
  </head>
  <body>

    <!--header layout-->
    <%- include partials/header.ejs %>
     <!--header layout-->
    </div>
  <!--/.Mask-->

    <!--header layout-->

    <!--Main layout-->
      <main>
        <table class="table table-hover table-responsive-sm">
          <tbody>
            <thead>
              <td>All Movies</td>
            </thead>
            <tr>

              <% for (let i = 0; i < movies.length; i++) { %>
              <td>
                <!-- Card -->
                <div class="card">

                <!-- Card image -->
                <img class="card-img-top" src="<%= movies[i]['imageUrl'] %>" alt="Card image cap">

                <!-- Card content -->
                <div class="card-body">

                  <!-- Title -->
                  <h4 class="card-title"><a><%= movies[i]['title'] %></a></h4>
                   <!-- Text -->
                  <p class="card-text"><%= movies[i]['description'] %></p>
                     <!-- Text -->
                  <p class="card-text"> Price: <%= movies[i]['price'] || 1000 %></p>
                  <!-- Button -->
                  <a href="#" class="btn btn-primary">Add</a>

                </div>

              </div>
              <!-- Card -->
</td>
              <% } %>

            </tr>
          </tbody>
        </table>
      </main>
    <!--Main layout-->

    <!--Footer-->
      <footer>

      </footer>
    <!--Footer-->

  </body>
</html>
